/*===================================
Universal styling
====================================*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}


header{
    position: fixed;
    width: 100%;
    top: 0;
    background: darkslateblue;
    color:floralwhite;
    padding: 30px;
    text-align:center;
}

body{
    background-color: lightsteelblue;
    color: darkslateblue;
    padding-top: 60px;
}

main.container{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 50px;
}
section{
    padding-top: 50px;
}
span {
    font-size: 20px;
    font-family:'Franklin Gothic Medium', sans-serif;
    font-weight: bold;
}
li{
    display: inline;
}
h2{
    margin-bottom: 10px;
}

.shopping-list{
    margin-top: 70px;
}

/*===================================
Position styling
====================================*/



.text-image-container{
    position: relative;
    top: 0;
    left: 100px;
}
.text-container{
    position: absolute;
    top: 0;
    padding: 10px 50px;
    max-width: 500px;
}

/*===================================
Cloud image styling
====================================*/

.cloud-image{
    float: left;
    margin: 0 20px 20px 20px;
    width: 300px;
    transition: 3s;
}

.cloud-image:hover{
    width: 400px;
    transition: 3s;
}